:root {
  --bg-clr: hsl(127, 93%, 91%);
  --btn-clr: hsl(0, 0%, 13%);
  --btn-txt-clr: hsl(127, 93%, 91%);
  --project-card-bg: hsl(0, 0%, 13%);
  --txt-clr: hsl(0, 0%, 13%);
  --form-txt-clr: hsl(0, 0%, 33%);
  --footer-txt-clr: hsl(0, 0%, 13%);
}

[data-theme='dark'] {
  --bg-clr: hsl(0, 0%, 13%);
  --btn-clr: hsl(127, 93%, 91%);
  --btn-txt-clr: hsl(0, 0%, 13%);
  --project-card-bg: hsl(127, 93%, 91%);
  --txt-clr: hsl(127, 93%, 91%);;
  --form-txt-clr: hsl(127, 93%, 91%);
  --footer-txt-clr: hsl(0, 0%, 73%);
}

body {
  background-color: var(--bg-clr);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--txt-clr);
  margin: 0;
  padding: 0;
}

h2, h3, p {
  font-family: 'Roboto Mono', monospace;
}

h1, h2 {
  text-transform: uppercase;
}

h2, h3 {
  font-size: 20px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2, h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

}

@media (width >= 1400px) {
  #root {
    gap: 200px;
  }

  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 75px;
  }

}